/*YOUR CUSTOM STYLES*/
.form-group-lg .form-control { 
	border-radius:0;
}

.btn, .btn:hover {
	border-radius:0;
}
	
.error-message {
	color:red;
}

.nondisplay {
	display:none;
}

#logonAtCheckoutModal .modal-dialog {
	width: 60%;
}

#logonAtCheckoutModal  .guest {
	border-left:1px solid #e5e5e5;
}
#logonAtCheckoutModal  .modal-content {
	border-radius:0;
}

#logonAtCheckoutModal .modal-header {
	padding-top:5px;
	padding-bottom:5px;
}

.order-payment-list .order-details  > p {
	margin-left:50px;
}