/*YOUR CUSTOM STYLES*/
.form-group-lg .form-control { 
	border-radius:0;
}

.btn, .btn:hover {
	border-radius:0;
}
	
.error-message {
	color:red;
}

.nondisplay {
	display:none;
}

#logonAtCheckoutModal .modal-dialog {
	width: 60%;
}

#logonAtCheckoutModal  .guest {
	border-left:1px solid #e5e5e5;
}
#logonAtCheckoutModal  .modal-content, #addressModal  .modal-content {
	border-radius:0;
}

#logonAtCheckoutModal .modal-header {
	padding-top:5px;
	padding-bottom:5px;
}

.order-payment-list .order-details  > p {
	margin-left:50px;
}
.user-profile-sidebar {
	border-radius:0;
	min-height:550px;
}
.page-title {
	font-size:54px;
}

.loading-icon {
	max-width:100px;
	max-height:100px;
	position: fixed;
	top:50%;
	left:50%;
	background-color: white;
	z-index:10000;
	border:1px solid #e5e5e5;
	display:none;
}

#welcomeModal .modal-dialog {
	position:fixed;
	top:25%;
	left: 30%;
    width: 40%;
}
#welcomeModal  .modal-content {
	border-radius:0;
	height:350px;
	background-image:url("/public/images/welcome_modal.png");
	background-size: cover;
}
#welcomeModal  .modal-content .modal-header {
	border:none;
}
.booking-item-payment .user-profile-avatar img {
    max-width: 120px;
    margin-bottom: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.find-order-button {
	margin:0px;
	margin-top:25px;
}